<aside class="w-15p bg-primary h-screen fixed">
  <div class="text-center text-white py-4">
      <h1 class="font-black text-2xl">
          <a href="{% url 'index' %}">NCForum</a> 
      </h1>
  </div>
  <ul class="mt-3">
      <li class="mb-2">
          <a href="#" class="flex items-center px-4 py-2 text-white hover:text-primary hover:bg-secondary">
          <i class="fa-solid fa-clone mr-2 text-xl"></i>
          Posts
          </a>
      </li>
      <li class="mb-2">
          <a href="#" class="flex items-center px-4 py-2 text-white hover:text-primary hover:bg-secondary">
          <i class="fa-solid fa-gear mr-2 text-xl"></i>
          Settings
          </a>
      </li>
  </ul>

  <div class="border-t border-background mx-3 my-3"></div>
  <div class="mx-3 w-full">

      <button class="w-90p my-1 py-1 rounded-md bg-background text-black focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          <a href="">Signup</a> 
      </button>

      <button class="w-90p font-changaMedium my-1 py-1 rounded-md bg-tertiary text-black focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        Login
      </button>
  </div>
</aside>