{% extends 'base.html' %}

{% block styles %}

{% endblock styles %}



{% block content %}
<main class="flex justify-center mt-24 w-full bg-background">
    <div class="mt-20 p-10 rounded-xl drop-shadow-xl shadow-xl shadow-slate-500 bg-primary">
        <div class="flex justify-center items-center">
            <div class="pb-4">
                <h2 class="font-bold text-lg text-white">
                    Sign Up
                </h2>
            </div>
        </div>

        <div class="flex justify-center items-center">
            <form action="{% url 'signup' %}" method="POST" class="w-96">
                {% csrf_token %}
                <div class="p-2 sm:p-0">
                    <div>
                        <div>
                            <label for="Email" class="italic font-medium pl-2 text-white">Email</label>
                        </div>
                        <div>
                            {% comment %} <input type="text" class="focus:outline-none rounded-md shadow-md bg-background  p-2 w-full"> {% endcomment %}
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="flex justify-between items-center mt-5">
                        <div>
                            <div>
                                <label for="Password" class="italic font-medium pl-2 text-white">First Name:</label>
                            </div>
                            <div>
                                {% comment %} <input type="password" class="w-40 sm:w-44 focus:outline-none bg-background  rounded-md shadow-md  p-2"> {% endcomment %}
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="Confirm Password" class="italic font-medium pl-2 text-white">Last Name</label>
                            </div>
                            <div>
                                {% comment %} <input type="password" class="w-40 sm:w-44 focus:outline-none bg-background  rounded-md shadow-md  p-2"> {% endcomment %}
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class=" mt-5">
                        <div>
                            <div>
                                <label for="Fullname" class="italic font-medium pl-2 text-white">Username</label>
                            </div>
                            <div>
                                {% comment %} <input type="text" class="focus:outline-none rounded-md shadow-md bg-background  p-2 w-full"> {% endcomment %}
                                {{ form.username }}
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-between items-center mt-5">
                        <div>
                            <div>
                                <label for="Password" class="italic font-medium pl-2 text-white">Password:</label>
                            </div>
                            <div>
                                {% comment %} <input type="password" class="w-40 sm:w-44 focus:outline-none bg-background  rounded-md shadow-md  p-2"> {% endcomment %}
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div>
                            <div>
                                <label for="Confirm Password" class="italic font-medium pl-2 text-white">Confirm Password</label>
                            </div>
                            <div>
                                {% comment %} <input type="password" class="w-40 sm:w-44 focus:outline-none bg-background  rounded-md shadow-md  p-2"> {% endcomment %}
                                {{ form.password2 }}
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-center items-center mt-7">
                        <button class="font-semibold  py-1 px-2 rounded-md shadow-md  bg-tertiary ">
                            Sign Up Now!
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="flex justify-center items-center mt-5">
            <p class="font-medium text-white">
                Already have an account?<a href="{% url 'login' %}" class="font-semibold hover:underline ml-1 hover:text-tertiary text-white">Log in Now</a>
            </p>
        </div>
    </div>
</main> 
{% endblock content %}



{% block scripts %}

{% endblock scripts %}